css-slides img {
  opacity: 0;
  animation-name: fade;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  right: 0;
}
@keyframes fade {
  0% {opacity: 0;} 
  5% {opacity: 1;} 
  9% {opacity: 1;} 
  14% {opacity: 0;} 
  100% {opacity: 0;}
}

css-slides img:nth-child(1) {
  animation-delay: 0s;
}
css-slides img:nth-child(2) {
  animation-delay: 3s;
}
css-slides img:nth-child(3) {
  animation-delay: 6s;
}
css-slides img:nth-child(4) {
  animation-delay: 9s;
}
css-slides img:nth-child(5) {
  animation-delay: 12s;
}
css-slides img:nth-child(6) {
  animation-delay: 15s;
}
css-slides img:nth-child(7) {
  animation-delay: 18s;
}
css-slides img:nth-child(8) {
  animation-delay: 21s;
}
css-slides img:nth-child(9) {
  animation-delay: 24s;
}
css-slides img:nth-child(10) {
  animation-delay: 27s;
}
css-slides img:nth-child(11) {
  animation-delay: 30s;
}